<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Bank Brothers</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">
    <!-- Google fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets-index/cssIndex/main.css">
    <link rel="stylesheet" href="./assets-index/cssIndex/util.css">
    <link rel="stylesheet" href="./assets-index/cssIndex/estilosIndex.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <header class="register">
        <div class="logo">
            <a href="./reveal/index.html">
                <img class="mx-4" src="./assets/img/brand.jpg" alt="Logo bank brothers">
            </a>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link navbar-brand" aria-current="page" href="./reveal/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-brand" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="app">
        <div class="background-image-register pb-4">
            <h1 class="registerTitle pt-2">Register</h1>
            <div class="limiter limiter-register">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <form @submit.prevent="register" class="login100-form validate-form">
                            <span class="login100-form-title p-b-26">
                                Welcome! please enter your data
                            </span>
                            <div class="wrap-input100 validate-input">
                                <input v-model="email" class="input100" type="email" placeholder="Email">
                                <span class="focus-input100"></span>
                            </div>

                            <div class="wrap-input100 validate-input">
                                <input v-model="firstName" class="input100" type="text" placeholder="Name">
                                <span class="focus-input100"></span>
                            </div>

                            <div class="wrap-input100 validate-input">
                                <input v-model="lastName" class="input100" type="text" placeholder="lastName">
                                <span class="focus-input100"></span>
                            </div>

                            <div class="wrap-input100 validate-input">
                                <span class="btn-show-pass">
                                    <i class="zmdi zmdi-eye"></i>
                                </span>
                                <input v-model="pwd" class="input100" type="password" placeholder="Password">
                            </div>

                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">
                                        sign in
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="contacto d-flex justify-content-around align-items-center">
            <div class="d-flex ">
                <p class="pt-2 mb-0">Hecho por -Galarza Alexis-</p>
                <a class="contactIco ps-2" href="">
                    <i class='bx bxl-github fs-2 pt-2'></i>
                </a>
                <a class="contactIco ps-2" href="">
                    <i class='bx bxl-linkedin-square fs-2 pt-2'></i>
                </a>
            </div>
            <p class="">&copy; todos los derechos reservados</p>
            <p class="">Cohort -30 Full Stack Java- 2022</p>
        </div>
    </footer>

    <span class="loader"></span>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/vue@3"></script>

    <script src="./assets-index/js/index.js"></script>

</body>

</html>